@model Social
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card ">
            <div class="card-body">
                <h4 class="card-title">Social Create</h4>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Link"></label>
                        <input asp-for="Link" class="form-control" placeholder="Link" accept="image/*">
                        <span class="text-danger" asp-validation-for="Link"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Icon"></label>
                        <input asp-for="Icon" class="form-control" placeholder="Icon">
                        <span class="text-danger" asp-validation-for="Icon"></span>
                    </div>
                    <div class="form-group " >
                        <label for="Teachers">Select Teachers</label>
                        <select class="form-control" asp-for="TeacherId" >
                            <option >.....</option>
                            @foreach (Teacher tc in ViewBag.TeacherList)
                            {
                                <option value="@tc.Id">@tc.Fullname</option>
                            }

                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-light" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
    <partial name="_ValidationPartial" />

}







