
@{
    ViewData["Title"] = "Index";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search Events</h3>
                </div>
                <div class="course-form">
                    <form>
                        <input type="search" placeholder="Search..." id="Event-search" name="search" />
                    </form>
                </div>
            </div>
        </div>
        <div class="row" id="Old-Event">
            @await Component.InvokeAsync("Event", 9)
        </div>
        <div class="row" id="New-Event">
        </div>
    </div>
</div>
<!-- Event End -->
