@model Course
@{
    ViewData["Title"] = "Update";
}
<div class="col-12">
    <div class="col-12 my-5 text-center">
        <img style="width: 365px; height: 246px; object-fit:cover" src="~/img/course/@Model.ImageUrl" />
    </div>

</div>
  

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card ">
            <div class="card-body">
                <h4 class="card-title">Edit Course</h4>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Photo">Select Image:</label>
                        <input asp-for="Photo" class="form-control" accept="image/*">
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" placeholder="Description">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success d-block my-5" data-toggle="modal" data-target="#exampleModalLong">
                        Click for Detail
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label asp-for="DetailCourse.AboutCourse"></label>
                                        <input asp-for="DetailCourse.AboutCourse" class="form-control" placeholder="About course">
                                        <span class="text-danger" asp-validation-for="DetailCourse.AboutCourse" placeholder="Price"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DetailCourse.HowToApply"></label>
                                        <input asp-for="DetailCourse.HowToApply" class="form-control" placeholder="How to apply">
                                        <span class="text-danger" asp-validation-for="DetailCourse.HowToApply"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="DetailCourse.Certification"></label>
                                        <textarea asp-for="DetailCourse.Certification" id="editor"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DetailCourse.Starts"></label>
                                        <input asp-for="DetailCourse.Starts" class="form-control" placeholder="Starts">
                                        <span class="text-danger" asp-validation-for="DetailCourse.Starts"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DetailCourse.Duration"></label>
                                        <input asp-for="DetailCourse.Duration" class="form-control" placeholder="Duration">
                                        <span class="text-danger" asp-validation-for="DetailCourse.Duration"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DetailCourse.ClassDuration"></label>
                                        <input asp-for="DetailCourse.ClassDuration" class="form-control" placeholder="Class duration">
                                        <span class="text-danger" asp-validation-for="DetailCourse.Price"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DetailCourse.SkillLevel"></label>
                                        <input asp-for="DetailCourse.SkillLevel" class="form-control" placeholder="Skill level">
                                        <span class="text-danger" asp-validation-for="DetailCourse.SkillLevel"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DetailCourse.Language"></label>
                                        <input asp-for="DetailCourse.Language" class="form-control" placeholder="Language">
                                        <span class="text-danger" asp-validation-for="DetailCourse.Language"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DetailCourse.Students"></label>
                                        <input asp-for="DetailCourse.Students" class="form-control" placeholder="Students">
                                        <span class="text-danger" asp-validation-for="DetailCourse.Students"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DetailCourse.Assesments"></label>
                                        <input asp-for="DetailCourse.Assesments" class="form-control" placeholder="Assesments">
                                        <span class="text-danger" asp-validation-for="DetailCourse.Assesments"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DetailCourse.Price"></label>
                                        <input asp-for="DetailCourse.Price" class="form-control" placeholder="Assesments">
                                        <span class="text-danger" asp-validation-for="DetailCourse.Price"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

               <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-light" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
    <partial name="_ValidationPartial" />

}