@model Event
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card ">
            <div class="card-body">
                <h4 class="card-title">Event Course</h4>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Photo">Select Image:</label>
                        <input asp-for="Photo" class="form-control" accept="image/*">
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Lesson"></label>
                        <input asp-for="Lesson" class="form-control" placeholder="Lesson">
                        <span class="text-danger" asp-validation-for="Lesson"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventTime"></label>
                        <input asp-for="EventTime" class="form-control" placeholder="EventTime">
                        <span class="text-danger" asp-validation-for="EventTime"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventEndTime"></label>
                        <input asp-for="EventEndTime" class="form-control" placeholder="EventEndTime">
                        <span class="text-danger" asp-validation-for="EventEndTime"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Venue"></label>
                        <input asp-for="Venue" class="form-control" placeholder="City">
                        <span class="text-danger" asp-validation-for="Venue"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventDetail.ExactLocation"></label>
                        <input asp-for="EventDetail.ExactLocation" class="form-control" placeholder="ExactLocation">
                        <span class="text-danger" asp-validation-for="EventDetail.ExactLocation"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventDetail.Description"></label>
                        <textarea asp-for="EventDetail.Description" class="form-control" id="editor" placeholder="Description"></textarea>
                        <span class="text-danger" asp-validation-for="EventDetail.Description"></span>
                    </div>
                    <div class="form-group " id="Speakers">
                        <label for="mainCategory">Select Speakers</label>
                        <select class="form-control" name="SpeakerId" id="SpeakerId">
                            @foreach (Speaker spk in ViewBag.Speakers)
                            {
                                <option value="@spk.Id">@spk.Fullname</option>
                            }

                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-light" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
    <partial name="_ValidationPartial" />

}





