@model TeacherVM
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card ">
            <div class="card-body">
                <h4 class="card-title">Create Teacher</h4>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Teacher.Photo">Select Image:</label>
                        <input asp-for="Teacher.Photo" class="form-control" accept="image/*">
                        <span class="text-danger" asp-validation-for="Teacher.Photo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Teacher.Fullname"></label>
                        <input asp-for="Teacher.Fullname" class="form-control" placeholder="Fullname">
                        <span class="text-danger" asp-validation-for="Teacher.Fullname"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Teacher.Position"></label>
                        <input asp-for="Teacher.Position" class="form-control" placeholder="Position">
                        <span class="text-danger" asp-validation-for="Teacher.Position"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetail.AboutMe"></label>
                        <input asp-for="TeacherDetail.AboutMe" class="form-control" placeholder="AboutMe">
                        <span class="text-danger" asp-validation-for="TeacherDetail.AboutMe"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetail.Degree"></label>
                        <input asp-for="TeacherDetail.Degree" class="form-control" placeholder="Degree">
                        <span class="text-danger" asp-validation-for="TeacherDetail.Degree"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetail.Experience"></label>
                        <input asp-for="TeacherDetail.Experience" class="form-control" placeholder="Experience">
                        <span class="text-danger" asp-validation-for="TeacherDetail.Experience"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetail.Hobbies"></label>
                        <input asp-for="TeacherDetail.Hobbies" class="form-control" placeholder="Hobbies">
                        <span class="text-danger" asp-validation-for="TeacherDetail.Hobbies"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetail.Faculty"></label>
                        <input asp-for="TeacherDetail.Faculty" class="form-control" placeholder="Faculty">
                        <span class="text-danger" asp-validation-for="TeacherDetail.Faculty"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetail.MailMe"></label>
                        <input asp-for="TeacherDetail.MailMe" class="form-control" placeholder="MailMe">
                        <span class="text-danger" asp-validation-for="TeacherDetail.MailMe"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetail.Call"></label>
                        <input asp-for="TeacherDetail.Call" class="form-control" placeholder="Call">
                        <span class="text-danger" asp-validation-for="TeacherDetail.Call"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetail.Skype"></label>
                        <input asp-for="TeacherDetail.Skype" class="form-control" placeholder="Skype">
                        <span class="text-danger" asp-validation-for="TeacherDetail.Skype"></span>
                    </div>
                    <div>
                        <div id="TeachersSkills" class="border-primary">
                            <div class="form-group">
                                <label asp-for="SkillName"></label>
                                <input asp-for="SkillName" class="form-control" placeholder="SkillName">
                                <span class="text-danger" asp-validation-for="SkillName"></span>
                            </div>
                              <div class="form-group">
                                    <label asp-for="SkillPercentage"></label>
                                    <input type="range" asp-for="SkillPercentage" class="form-control-range" placeholder="Innovation">
                                    <span class="text-danger" asp-validation-for="SkillPercentage"></span>
                              </div>
                            <button type="button" class="btn btn-outline-primary mb-5" id="SkillBtn">Add</button>
                        </div>
                    </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a class="btn btn-light" asp-action="Index">Cancel</a>
</form>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
   <script>
       $(document).ready(function () {
           $("#SkillBtn").click(function () {
               $("#SkillBtn").before(`<div id="TeachersSkills" class="border-primary">
                            <div class="form-group">
                                <label for="SkillName">SkillName</label>
                                <input class="form-control" placeholder="SkillName" type="text" id="SkillName" name="SkillName" value="">
                                <span class="text-danger field-validation-valid" data-valmsg-for="SkillName" data-valmsg-replace="true"></span>
                            </div>
                          <div class="form-group">
                                    <label for="SkillPercentage">SkillPercentage</label>
                                    <input type="range" class="form-control-range" placeholder="Innovation" id="SkillPercentage" name="SkillPercentage" value="">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="SkillPercentage" data-valmsg-replace="true"></span>
                                </div>
                        </div>`)
           })
       })
   </script>
    <partial name="_ValidationPartial" />

}





