@model List<Event>

@foreach (Event ev in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-event mb-60">
            <div class="event-img">
                <a href="event-details.html">
                    <img src="img/event/@ev.ImageUrl" alt="event">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
                <div class="event-date">
                    @Html.Raw(ev.Date)
                </div>
            </div>
            <div class="event-content text-left">
                <h4><a href="event-details.html">@ev.Lesson</a></h4>
                <ul>
                    <li><span>time:</span>@ev.Time</li>
                    <li><span>venue</span> @ev.Venue</li>
                </ul>
                <div class="event-content-right">
                    <a class="default-btn" href="event-details.html">join now</a>
                </div>
            </div>
        </div>
    </div>
}

